@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root{
    --header-color: #161250;
    --border-color: rgba(0, 0, 0, 0.2);
    --atv-extensao: #9D9DBC;
}
*{
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
    list-style: none;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}