.recolher{
    margin: 2% 1% 0 2%;
}

.margin-top{
    margin-top: 5%;
}

.margin-bottom{
    margin-bottom: 5%;
}

.dado-idoso{
    margin: 1% 2%;
}

.container-idoso, ol{
    display: flex;
    align-items: center;
    list-style: none;
}

.foto-idoso, .nome-idoso{
    font-size: 12px;
    margin: 10px;
}

.foto-idoso{
    width: 77px;
    height: 77px;
}

hr{
    border-top: 1px initial var(--border-color);
    color: var(--border-color);
}

.contato-emergencia{
    margin: 5% 0 3% 2%;
}


.menu-atv ol{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 4%;
}
.menu-atv .btn{
    background-color: transparent;
    border: none;
    margin-right: 1em;
}

.menu-atv .btn:hover{
    font-size: 14px;
    border-bottom: 2px solid var(--header-color);
}



.extensao-table{
    text-align: center;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    margin-bottom: 8%;
}

.th:not(:last-child), td:not(:last-child) {
    border-right: 1px solid var(--border-color);
    border-spacing: 0;
}

td{
    padding: 2% 0;
}


tr>th, tr>td{
    padding: 4% 0;
    border-bottom: 1px solid var(--border-color);
    border-spacing: 0;
}





.documentos-table{
    margin: 5%;
    width: 300px;
    border: 1px solid var(--border-color);
    border-spacing: 0;
}

.documentos-table, .documento{
    text-align: left;
}
.situacao{
    width: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.documento{
    padding-left: 10px;
}